@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-primario: #6a6a6b;
    --color-secundario: #37393a;
    --color-terciario: #5ed279;
    --color-primario-light: rgb(248, 248, 248);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto";
}

#skills{
    text-align: center;
    margin-bottom: 5rem;
    transition: 0.4s;
}

#skills.light {
    color: var(--color-primario);
    transition: 0.4s;
}



#habilidades{
    background-color: var(--color-secundario);
    color:var(--color-terciario);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 50px 20px 20px 20px;
    font-size: 25px;
    -webkit-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
-moz-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
transition: 0.4s;
}

#habilidades.light {
    background-color: var(--color-primario-light);
    transition: 0.4s;
}

#habilidades ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#habilidades h1{
    text-align: center;
    text-decoration: none;
    
}

#habilidades img {
    width: 80%;
}

#habilidades ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color:#6a6a6b;
    /* border: #5ed279 solid 1px; */
    padding: 1rem;
    width: 20%;
    border-radius: 20px;
    margin-bottom: 5rem;
    -webkit-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
    box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
    transition: 0.4s;
}

#habilidades ul li.light {
    background-color: rgb(195, 195, 195);
    color:var(--color-secundario);
    transition: 0.4s;
}

#habilidades i {
    color: #5ed279;
}



#Formacion{
    display: flex;
    justify-content: space-around;
    
}

#Formacion ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: var(--color-secundario);
    color:var(--color-terciario);
    border-radius: 20px;
    padding: 20px;
    margin: 50px 20px 20px 20px;
    font-size: 25px;
    -webkit-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
-moz-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
width: 40%;
gap: 100px;
transition: 0.4s;
}

#Formacion ul.light {
    background-color: var(--color-primario-light);
    color:var(--color-primario);
    transition: 0.4s;
}

#Formacion h2 {
    text-align: center;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

#Formacion h2.light {
    color: var(--color-primario);
    transition: 0.4s;
}

#Formacion  i {
    color: white;
    transition: 0.4s;
}

#Formacion  i.light {
    color: var(--color-terciario);
    transition: 0.4s;
}

#Formacion li {
    padding: 20px;
}

#Proyectos {
text-align: center;
padding: 20px;
margin: 50px 20px 20px 20px;
transition: 0.4s;
}

#Proyectos.light{
    color: var(--color-primario);
    transition: 0.4s;
}

#Proyectos i {
    color: var(--color-terciario);
    transition: 0.4s;
}



#divisor {

    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(550px, 1fr));
    grid-template-rows: 70vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap:10px;
    margin: 20px;
}

#divisor article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 5% 40% 5%;
    background-color: var(--color-secundario);
    color:var(--color-terciario);
    border-radius: 20px;
    padding: 15px;
    margin: 50px 20px 20px 20px;
    font-size: 25px;
    -webkit-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
-moz-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
width:550px;
justify-items: center;
align-items: center;
height: 70vh;
transition: 0.4s;
}

#divisor article.light{
    background-color: var(--color-primario-light);
    transition: 0.4s;
}

#divisor img {
    width: 90%;
    height: 75%;
    border-radius: 20px;
    
}

#divisor h2 {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.4s;
}

#divisor h2.light{
    color:var(--color-terciario);
    transition: 0.4s;
}

#divisor p{
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.4s;
}

#divisor p.light{
    color: var(--color-primario);
    transition: 0.4s;
}



@media (max-width : 835px){
    #Formacion h2{
       font-size: 20px;
    }
}



@media (max-width : 480px){

    

    #skills {
        font-size: 30px;
    }

    #habilidades ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px) ;
        font-size: 18px;
        justify-content: center;
        justify-items: center;
        


    }

    #habilidades ul li {
        display: grid;
        width: 60%;
        padding:0;
        justify-content: center;
        align-items: center;
        justify-items: center;

    }

    #habilidades ul li img {
        width: 50px;
    }



    #Formacion {
        flex-direction: column;
        align-items: center;
    }

    #Formacion ul li {
        font-size: 18px;
    }

    #Formacion ul {
        width: 80%;
    }

    #formacionLista  h2 {
        font-size: 25px;
    }

    

    #experienciaLista h2 {
        font-size: 25px;
    }


    #Proyectos {
        font-size: 30px;
    }

    #divisor {
        display: flex;
        flex-direction: column;
    }

    #divisor article {
        width: 90%;
        height: 600px;

    }

    #divisor article h2 {
        font-size: 30px;
    }

    #divisor article p {
        font-size: 18px;
    }

    #divisor article a {
        font-size: 18px;
    }

    #divisor article img {
        height: auto;
    }
}


















