@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-primario: #6a6a6b;
    --color-secundario: #37393a;
    --color-terciario: #5ed279;
    --color-primario-light: rgb(248, 248, 248);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto";
}

body{
    background-color: var(--color-primario);
    transition: 0.4s;
}

body.light{
    background-color: rgb(207, 207, 207);
    transition: 0.4s;
}


a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

a:hover{
    color: white;
}

a.light:hover{
    color: var(--color-secundario);
}



 header ul{
    background-color: var(--color-secundario);
    color:var(--color-terciario);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    font-size: 25px;
    list-style-type: none;
    -webkit-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
-moz-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
align-items: center;
transition: 0.4s;
}

header ul.light {
    background-color: var(--color-primario-light);
    transition: 0.4s;
}



#articulo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--color-secundario);
    padding: 20px;
    margin: 50px 20px 20px 20px;
    border-radius: 20px;
    color: var(--color-terciario);
    -webkit-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
-moz-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.38);
transition: 0.4s;
   
}

#articulo1.light{
    background-color: var(--color-primario-light);
    color:var(--color-primario);
    transition: 0.4s;
}

#articulo1 img {
    width: 20%;
    border-radius: 50%;
    background-color:var(--color-primario);
    padding: 20px;
    margin: 20px 20px 20px 20px;
    border: var(--color-terciario) 1px solid;
    transition: 0.4s;
}

#articulo1.light img{
    background-color: var(--color-terciario);
    border: var(--color-secundario) 1px solid;
    transition: 0.4s;
}



h1{
    margin-top: 40px;
    letter-spacing: 10px;
    font-size: 3rem;
    color: white;
    transition: 0.4s;
    
}

h1.light {
    color: var(--color-primario);
    transition: 0.4s;
}

h2{
    margin-bottom: 40px;
    letter-spacing: 10px;
    text-decoration: underline;
    color: var(--color-terciario);
}

#articulo1 p{
    padding: 40px;
    text-align: center;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-size: 1.8rem;
}

button {
    width: 4%;
    border-radius: 10px;
    height: 20%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
}

button#oscuro {
    background-color: rgb(199, 199, 255);
    transition: 0.4s;
}

button img {
    width: 60%;
    height: 60%;
    transition: 0.4s;
}

button :hover{
    cursor: pointer;
    
}

button.light{
    display: none;
    transition: 0.4s;
}





@media (max-width : 835px){
   
    h1{
        text-align: center;
    }

    #articulo1 img {
        margin: 0;
        padding : 0;
    }


}







@media (max-width : 480px){

    header ul{
        display: grid;
        grid-template-columns: 45% 45%;
        text-align: center;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }

    header ul button {
        width: 45px;
        height: 40px
    }

    #HeaderH1{
        font-size: 30px;
    }

    #articulo1 img {
        padding: 0;
        margin: 0;
        width: 100px;
    }

    #articulo1 h2 {
        font-size: 20px;
        text-align: center;
    }

    #articulo1 p{
        font-size: 18px;
    }

}
